.page-container {}

.recipe-card-opening {
    /* background-color: #fefee3; */
    width: 100%;

    display: grid;
    grid-template-areas:
        "recipe-name recipe-image";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 1fr;
    height: 75vh;
    width: vw;
    margin: auto;
}

.recipe-name-container {
    grid-area: recipe-name;
    padding: 40px;
    padding-left: 7.5vw;
    /* Add padding for spacing */
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* Adjust the gap between tags as needed */
}

.tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}

.recipe-name {
    font-family: 'Sriracha', cursive;
    font-size: 72px;
    margin-bottom: 10px;
    /* Add margin for spacing between name and credit */
}

.recipe-credit {
    font-style: italic;
    /* Optionally make the credit italic */
    color: #666;
    /* Adjust color as needed */
    font-size: 32px;
    /* Adjust font size as needed */
}

.recipe-image-container {
    grid-area: recipe-image;
    display: flex;
    justify-content: end;

}

.recipe-image-container img {
    max-width: 100%;
    max-height: 100%;
    height: 75vh;
    margin-left: auto;
}

.basic-info-container .recipe-name-container .recipe-image-container {
    border: 1px solid black;
}

.recipe-card-opening {
    background-color: #FFE4C9;
}

.basic-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 248, 239);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.recipe-info {
    text-align: center;
}

.recipe-info p {
    font-weight: bold;
    color: #333;
}

.recipe-info img {
    width: 50px;
    height: 50px;
}

.recipe-info ul {
    list-style-type: none;
    padding: 0;
}

.recipe-info li {
    margin-top: 5px;
    color: #666;
}

.recipe-info li:first-child {
    margin-top: 0;
}