/*
.page-container {}

.outer-opening-container {
    width: 100%;
    background-color: #FFE4C9;
    background-color: #ffedda;
    background-color: hsl(38, 100%, 96%);
    height: max-content;
    margin: auto;
    display: grid;
    justify-content: center;
}

/* OPENING CARD SIZING & GRID ASSIGNMENT*
.opening-card-container {                  
    display: grid;
    grid-template-areas: 
    "recipe-name recipe-image"
    "basic-info basic-info"; 
    grid-template-columns: 30vw 45vw;
    margin-top: 25px;
    margin-bottom: 250px;
}

.outer-recipe-name-container {
    grid-area: recipe-name;
    border-bottom: 5px solid rgb(255, 184, 90);
    background-color: rgb(254, 215, 164);
    padding: 30px;
    border-top-left-radius: 50px;
    border-right: 5px solid rgb(255, 184, 90);

}

.outer-recipe-image-container {
    grid-area: recipe-image;
    border-bottom: 5px solid rgb(255, 184, 90);

}

.outer-nutrition-container {
    grid-area: nutrition;

}

.outer-basic-info-container {
    grid-area: basic-info;
}

/* Individual grid box styling *
.recipe-name-container {
    text-align: center;
    justify-content: center;    
    height: 100%;
    width: 100%;
}

.recipe-image-container {
    width: 45vw;
    display: flex;
}

.recipe-image-container img {
    max-width: 100%;
    max-height: 100%;
    height: max-content;
    margin-left: auto;
    border-top-right-radius: 50px;
}

.nutrition-info-container,
.basic-info-container {
    background-color: #ffedda;
}
.nutrition-info-container {
    height: 100%;
    text-align: center;
    border-bottom-left-radius: 50px;
}

.basic-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    max-width: 100%;
    border-bottom-right-radius: 50px;
}



/* OPENING CARD LEFT (specific styling) *
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
}

.recipe-name {
    font-family: 'Sriracha';
    font-size: 72px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: #292F36;
}

.recipe-credit {
    color: #666;
    font-size: 32px;
    margin: 16px;
    margin-top: 0px;
}
.description-short {
    margin-top: 25px;
    color: #666;
    font-size: 20xpx;
}

/* OPENING CARD RIGHT (specific styling) 


.recipe-info {
    text-align: center;
}

.recipe-info p {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.recipe-info img {
    width: 50px;
    height: 50px;
}

.recipe-info ul {
    list-style-type: none;
    padding: 0;
}

.recipe-info li {
    margin-top: 5px;
    color: #666;
}

.recipe-info li:first-child {
    margin-top: 0;
}

.info-icon {
    width: 50px;
}

*/