.page-container {}

.outer-opening-container {
    width: 100%;
    background-color: #FFE4C9;
    background-color: #ffedda;
    height: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* OPENING CARD SIZING */
.opening-card-container {
    grid-template-areas: 
    "recipe-name recipe-image"
    "recipe-stats recipe-info";                     
    display: grid;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: rgb(254, 215, 164);
}

.opening-card-left {
    width: 20rem;
    padding: 40px;
    text-align: center;
    justify-content: center;

}

.opening-card-right {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-image-container {
    width: 45rem;
    display: flex;
}

/* OPENING CARD LEFT */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
}

.recipe-name {
    font-family: 'Sriracha', cursive;
    font-size: 72px;
    margin-bottom: 0px;
    margin-top: 20px;
    
}

.recipe-credit {
    color: #666;
    font-size: 32px;
    margin: 16px;
    margin-top: 0px;
}
.description-short {
    color: #666;
}

/* OPENING CARD RIGHT */
.recipe-image-container img {
    max-width: 100%;
    max-height: 100%;
    height: max-content;
    margin-left: auto;
}

.basic-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 90%;
}


.recipe-info {
    text-align: center;
}

.recipe-info p {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.recipe-info img {
    width: 50px;
    height: 50px;
}

.recipe-info ul {
    list-style-type: none;
    padding: 0;
}

.recipe-info li {
    margin-top: 5px;
    color: #666;
}

.recipe-info li:first-child {
    margin-top: 0;
}