.recipe-outline-container {
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.opening-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.recipe-name {
    font-size: 2rem;
    color: #e60000;
    margin-top: 40px;
    max-width: 375px;
}

.recipe-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star {
    color: #e60000;
    font-size: 1.2em;
}

.stevens-rating {
    font-size: 12px;
}

.big-number {
    font-size: 20px;
    font-weight: bold;
    
}

.small-label {
    font-size: 11px;
    text-transform: capitalize;
}

.red-info-title {
    color: #e60000;
    font-size: 15px;
    font-family: "Patua One", serif;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 25px;
}

.tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
}

.recipe-attributes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.recipe-attributes div.attribute {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.recipe-attributes div.attribute {
    border-left: 2px dotted #e60000;
}
.recipe-attributes div.attribute:first-child {
    border: 0;
}

.left {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    background-color: white;
    text-align: center;
    justify-content: space-between;
}

.right {
    display: flex;
    width: 35vw;
}

.right img {
    width: 100%;
    height: 100%;
}