.filter-title {
  padding: 15px;
  font-size: 20px;
  margin: 0;

}

.side-panel {
  width: 300px;
  background-color: #f0f0f0;
  overflow-y: auto;
  overflow: overlay;
  height: calc(100vh - 70px);
  transition: width 0.3s ease;

  /* Add a smooth transition effect */
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  padding: 8px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  outline: none;
  height: 100px;
}

.collapse-icon2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.collapsed-icon2 {
  transform: rotate(90deg);
  /* Rotate the icon 90 degrees */
}

/* Adjust when side panel is closed */
.without-side-panel {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}

/* FILTER CATEGORY CODE */

.filter-category {
  border-left: #bb4d4d solid 2px;
}

.filter-categories {
  margin-left: 15px;
  margin-right: 15px;
}

.filter-header {
  cursor: pointer;
  background-color: #efe4e4;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  border-top: #D3CDCD solid 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filter-header-text {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.filter-icon {
  width: 35px;
  margin: 5px;
  padding-right: 5px;
}

.filter-header::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #333;
  transition: transform 0.3s ease;
  margin-right: 5px;
  /* Add a smooth transition effect */
}

.filter-header.collapsed::after {
  transform: translateY(-50%) rotate(-90deg);
  /* Rotate the arrow when collapsed */
}


.filter-content {
  display: none;
  padding: 10px;
}

.filter-content label {
  display: block;
  margin-bottom: 5px;
}


.side-panel-container {
  display: flex;
}

.filter-category:last-child {
  border-bottom: #D3CDCD solid 2px;
}