.filter-title {
  padding: 15px;
  font-size: 20px;
  margin: 0;
  background-color: #e8e5e5;
  color: black;
  text-align: center;
  border-right: #D3CDCD solid 2px;
}

.side-panel {
  width: 275px;
  overflow-y: auto;
  overflow: overlay;
  transition: width 0.3s ease;

  /* Add a smooth transition effect */
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #D3CDCD solid 2px;
  border-left: #D3CDCD dashed 2px;
  color: #fff;
  padding: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  outline: none;
  height: 100px;
  transition: .3s;
  transform: translateX(-2px);
  position: relative;
  background-color: rgb(254, 254, 254);
}

.toggle-button:hover {
  background-color: #F0F0F0;
}

.collapse-icon2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.collapsed-icon2 {
  transform: rotate(90deg);
}

.without-side-panel {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}

.reset-button-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.reset-button {
  background-color: #ffffff;
  color: #0F6FCF;
  border: #0F6FCF solid 1.5px;
  height: 30px;
  font-size: 18px;
  font-weight: 100;
  border-radius: 5px;
  width: calc(100% - 30px);
  cursor: pointer;
  transition: .3s;
}

.reset-button:hover {
  background-color: #0F6FCF;
  color: #ffffff;
}

/* FILTER CATEGORY CODE */
.filter-category.not-collapsed {
  border-left: #FC6363 solid 4px;
  margin-left: -4px;
}

.filter-categories {
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.outer-filter-categories {
  border-left: #D3CDCD solid 2px;
  border-right: #D3CDCD solid 2px;
  border-bottom: #D3CDCD solid 2px;
  background-color: rgb(254, 254, 254);
  min-height: calc(100vh - 70px);
}

.filter-header {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  transition: background-color 0.5s ease;
  padding-right: 15px;
}

.filter-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 15px);
  /* Subtract 15px from the width */
  height: 2px;
  /* Adjust the height (thickness) of the border */
  background-color: #D3CDCD;
  /* Border color */
}


.filter-header:hover {
  background-color: #F0F0F0;
}

.filter-header-text {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 15px;
  color: #6a6c6e;
}

.filter-icon {
  width: 35px;
}

.collapse-icon {
  margin-left: 5px;
  margin-top: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.collapsed-icon {
  transform: rotate(0deg);
  /* Rotate the icon 90 degrees */
}

.collapse-icon-container {
  padding-right: 10px;
}

.filter-content {
  padding: 10px;
  background: white;
}

.filter-content label {
  display: block;
  margin-bottom: 5px;
}


.side-panel-container {
  display: flex;
}

.filter-category {
  position: relative;
}

.filter-category:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 15px);
  height: 2px;
  background-color: #D3CDCD;
}

.filter-flex {
  display: flex;
  align-items: center;
  padding-left: 5px;
}