.star {
    color: #e60000;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.star::before {
    color: lightgray;
    position: absolute;
    top: 1px;
    content: '★'; /* Unicode star character */
    z-index: -1;
}


.stevens-rating {
    font-size: 12px;
}

.star.empty {
    /*color: lightgray;*/
    /* Color for empty stars */
}

.star.half {
    color: transparent;
    /* Base color for half star */
}

.star.half::after {
    content: '\2605';
    /* Unicode for filled star */
    color: #e60000;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}


